[submodule "packages/reactive/lib/reactive-lib"]
	path = packages/reactive/lib/reactive-lib
	url = https://github.com/Reactive-Network/reactive-lib
[submodule "packages/contracts/lib/reactive-lib"]
	path = packages/contracts/lib/reactive-lib
	url = https://github.com/Reactive-Network/reactive-lib
